<html>
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style/index.css') }}"
    />
    <title>Word Game</title>
    <link
      rel="shourtcut icon"
      href="{{ url_for('static', filename='pics/word.png') }}"
    />
  </head>

  <body>
    <div id="brief"><label>Click button to start the word game !!!</label></div>
    <div id="start">
      <input id="start-btn" class="btn" type="button" value="START" />
    </div>

    <div id="content" style="display:none">
      <div id="explanation" class="content1">
        <label class="btn-name"
          ><span class="btnaction">* I Know This : </span
          ><span class="meaning">Pass to other word</span>
        </label>
        <label class="btn-name"
          ><span class="btnaction">* Learn This Word : </span
          ><span class="meaning">Go to tureng to see the meaning</span></label
        >
        <label class="btn-name"
          ><span class="btnaction">* Finish : </span
          ><span class="meaning">See your completion percentage!</span></label
        >
      </div>
      <div id="wordbox" class="content1">
        <h1 id="word">Word Comes Here!</h1>
      </div>

      <div class="content1" style="display:flex">
        <div id="next">
          <input id="next-btn" class="btn action" type="button" value="NEXT" />
        </div>
        <div id="learn">
          <input
            id="learn-btn"
            class="btn action"
            type="button"
            value="Learn"
          />
        </div>
      </div>
      <div class="loading" style="display:none"></div>
      <div
        class="content1"
        id="answer"
        style="display:none;flex-direction: column;align-items: center"
      ></div>
      <div class="finish">
        <input
          class="btn action"
          id="finish-btn"
          type="button"
          value="Finish"
        />
      </div>
    </div>
    
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous"
    ></script>
    <script>
      window.index = 0;
      function getWord(index) {
        $.get("/word?index=" + window.index, function(data) {
          console.log(data.word);
          $("#word").html(data.word);
          window.index = data.index;
        });
      }

      function learn() {
        var word = $("#word").text();
        $("#answer").empty();
        $(".loading").show();
        $.get("/learn?word=" + word, function(data) {
          var elements = $();
          elements = elements.add("<h1>Answers</h1>");
          elements = elements.add("<ul>");
          for (x = 0; x < data.length; x++) {
            elements = elements.add("<li>" + data[x] + "</li>");
          }
          elements = elements.add("</ul>");
          $(".loading").hide();
          $("#answer").append(elements);
          $("#answer").css("display", "flex");
        });
      }

      $("#start-btn").click(function() {
        getWord(window.index);
        $("#start").hide();
        $("#brief").hide();
        $("#content").show();
      });

      $("#next-btn").click(function() {
        $("#answer").empty();
        getWord(++window.index);
      });

      $("#learn-btn").click(function() {
        learn();
      });

      $("#finish-btn").click(function() {
        $.get("/finish?index=" + window.index, function(data) {
          alert(data.result);
          window.index = data.index;
        });
      });
    </script>
  </body>
</html>
